<div class="cnk-action-button-content" data-cnk-action="{{actionId}}">
  {{#if icon}}<span class="cnk-action-button-icon"><i class="{{icon}}"></i></span>{{/if}}
  <span class="cnk-action-button-label">{{{localize label}}}</span>
</div>
